$main-border:1px solid #C5C5C5;
$main-background-color:#E3E3E3;
$title-padding: 17px 10px 0 10px;
$selected-color: #CFEAFC;

@import "variables";

html,body{
  height: 100%;
  background-color: $main-background-color;
  font-size: 12px;
  color: black;
}
a{
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: none;
    color: black;
  }
}
body{
  border: $main-border;
  nav.navbar{
    background-color: $main-background-color;
    margin: 0;
    height: 59px;
    border-radius: 0;
    .dropdown-toggle{
      padding: 5px;
    }
  }
  .top-buttons{
    height: 25px;
    border:{
      bottom: $main-border;
      top: $main-border;
    }
    background-color: #F3F3F3;
    &-ul {
      &:not(.not-none){
        display: none;
      }
      padding-left: 3px;
      &-li {
        float: left;
        background-repeat: no-repeat;
        line-height: 20px;
        padding: 0 3px;
        margin: 2px 1px;
        &.top-buttons-stop{
          border-left: 1px solid #C5C5C5;
          height: 18px;
        }
        &:not(.top-buttons-stop){
          cursor: pointer;
          &:hover{
            background-color: $selected-color;
          }
        }
      }
    }

    $img-group1: url(/img/col1.png);
    &-new{
      padding-left: 17px;
      background:{
        image: $img-group1;
        position-y: 2px;
      }
    }
    &-edit{
      padding-left: 19px;
      background:{
        image: $img-group1;
        position-y: -23px;
      }
    }
    &-delete{
      padding-left: 17px;
      background:{
        image: $img-group1;
        position-y: -83px;
      }
    }
    &-save{
      padding-left: 21px;
      background:{
        image: $img-group1;
        position-y: -53px;
      }
    }
    &-dubl{
      padding-left: 20px;
      background:{
        image: $img-group1;
        position-y: -115px;
      }
    }
    &-to-arh{
      padding-left: 20px;
      background:{
        image: $img-group1;
        position-y: -148px;
      }
    }
    &-from-arh{
      padding-left: 19px;
      background:{
        image: $img-group1;
        position-y: -182px;
      }
    }

    $img-group2: url(/img/col2.png);
    &-sogl{
      padding-left: 17px;
      background:{
        image: $img-group2;
        position-y: 1px;
      }
    }
    &-podp{
      padding-left: 19px;
      background:{
        image: $img-group2;
        position-y: -22px;
      }
    }
    &-otkl{
      padding-left: 20px;
      background:{
        image: $img-group2;
        position-y: -46px;
      }
    }

    $img-group3: url(/img/col3.png);
    &-tabl{
      padding-left: 18px;
      background:{
        image: $img-group3;
        position-y: 1px;
      }
    }
    &-card{
      padding-left: 20px;
      background:{
        image: $img-group3;
        position-y: -21px;
      }
    }
    &-ek{
      padding-left: 20px;
      background:{
        image: $img-group3;
        position-y: -44px;
      }
    }

    $img-group4: url(/img/col4.png);
    &-day{
      padding-left: 18px;
      background:{
        image: $img-group4;
        position-y: 1px;
      }
    }
    &-week{
      padding-left: 17px;
      background:{
        image: $img-group4;
        position-y: -20px;
      }
    }
    &-month{
      padding-left: 17px;
      background:{
        image: $img-group4;
        position-y: -41px;
      }
    }

    $img-group5: url(/img/col7.png);
    &-mess{
      padding-left: 17px;
      background:{
        image: $img-group5;
        position-y: 3px;
      }
    }
    &-comment{
      padding-left: 18px;
      background:{
        image: $img-group5;
        position-y: -24px;
      }
    }
    &-remind {
      padding-left: 17px;
      background: {
        image: $img-group5;
        position-y: -56px;
      }
    }
    &-rout {
      padding-left: 16px;
      background: {
        image: $img-group5;
        position-y: -85px;
      }
    }
    $img-group6: url(/img/col6.png);
    &-svyazat{
      padding-left: 16px;
      background:{
        image: $img-group6;
        position-y: 2px;
      }
    }
    &-razorv{
      padding-left: 16px;
      background:{
        image: $img-group6;
        position-y: -29px;
      }
    }
    &-hide {
      padding-left: 17px;
      background: {
        image: $img-group6;
        position-y: -61px;
      }
    }

    $img-group7: url(/img/col5.png);
    &-print{
      padding-left: 20px;
      background:{
        image: $img-group7;
        position-y: 2px;
      }
    }
    &-help{
      padding-left: 17px;
      background:{
        image: $img-group7;
        position-y: -33px;
      }
    }
    &-update{
      padding-left: 20px;
      background: {
        image: $img-group7;
        position-y: -80px;
      }
    }
    &-sittings{
      padding-left: 20px;
      background: {
        image: $img-group7;
        position-y: -133px;
      }
    }
  }
}
.window{
  height: calc(100% - 84px);
  & > .row{
    height: 100%;
  }

  &-left, &-center, &-right{
    height: 100%;
    padding:{
      right: 6px;
      left: 6px;
      bottom: 6px;
      top: 0;
    }

  }

  &-left{
    width: calc(228px);
  }

  &-right{
    width: calc(291px);
  }

  &-center{
    width: calc(100% - 228px - 291px);
    .content{
      margin-top: 34px;
      border: $main-border;
      height: calc(100% - 35px - 60px);
      &-header{
        margin-top: -20px;
        padding: {
          right: 2px;
          left: 5px;
        }
        &-btn{
          float: right;
        }
      }
      &-tabs{
        $margin:26px;
        margin-top: -$margin;
        height: $margin + 1px;
        &-ul{
          display: block;
          height: 100%;
        }
        &-li{
          margin-left: -1px;
          padding: 5px;
          cursor: pointer;
          border: {
            top: $main-border;
            left: $main-border;
            right: $main-border;
          };
          float: left;
          height: $margin - 2px;
          background: linear-gradient(#E2E2E2,#D3D3D3);
          border-radius: 0 2px 0 0;
          &.active{
            height: $margin;
            background: $main-background-color;
          }
          &:not(.active){
            border-bottom: $main-border;
            margin-top: 2px;
          }
        }
      }
    }
    .nobody-icon{
      text-align: center;
      color: #7F7F7F;
      font-size: 6px;
    }
    .dop-block{
      border: $main-border;
      padding: {
        left: 10px;
        right: 5px;
      };
      span{
        line-height: 21px;
      }
      .icon-for-block{
        float: right;
        color: #666666;
        font-size: 9px;
      }
    }

  }


  .strelka{
    text-align: center;
    &:hover{
      background-color: $selected-color;
    }
    &-top{
      border-bottom: $main-border;
      margin-top: 12px;
    }
    span{
      line-height: 22px;
    }
  }

  &-title {
    border-bottom: $main-border;
    padding: $title-padding;
    .icon{
      float: right;
      font-size: 10px;
      margin-top: 2px;
    }
  }
}

.accordion-menu{
  display: block;
  height: calc(100% - 104px);
  padding: 4px 0;
  margin: 0;
  border-bottom: $main-border;
  overflow: hidden;
  li{
    display: block;
  }
  &-icon{
    float: right;
    font-size: 10px;
    margin-top: 2px;
  }
  &-head{
    cursor: pointer;
    padding: 4px 5px;
  }
  &-content{
    padding: 5px 0;
    background-color: white;
    li{
      padding: 2px 10px;
      cursor: pointer;
      &.active, &:hover{
        background-color: $selected-color;
      }
    }
  }
}