<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cement</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="/img/ava.png" alt="..." class="img-circle">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="top-buttons" ng-controller="TopButtons">
        <ul>
            <li class="top-buttons-new">Новый</li>
            <li class="top-buttons-edit">Редактировать</li>
            <li class="top-buttons-delete">Удалить</li>
            <li class="top-buttons-save">Сохранить</li>
            <li class="top-buttons-dubl">Дублировать</li>
            <li class="top-buttons-to-arh">В архив</li>
            <li class="top-buttons-from-arh">Из архива</li>
            <li class="top-buttons-stop"></li>
            <li class="top-buttons-sogl">Согласовать</li>
            <li class="top-buttons-podp">Подписать</li>
            <li class="top-buttons-otkl">Отклонить</li>
            <li class="top-buttons-stop"></li>
            <li class="top-buttons-sogl">Таблица</li>
            <li class="top-buttons-podp">Карточка</li>
            <li class="top-buttons-otkl">Экран</li>
            <li class="top-buttons-stop"></li>
            <li class="top-buttons-day">День</li>
            <li class="top-buttons-week">Неделя</li>
            <li class="top-buttons-month">Месяц</li>
            <li class="top-buttons-stop"></li>
            <li class="top-buttons-mess">Сообщения</li>
            <li class="top-buttons-comment">Комментарий</li>
            <li class="top-buttons-remind">Напоминания</li>
            <li class="top-buttons-rout">Маршрут</li>
            <li class="top-buttons-stop"></li>
            <li class="top-buttons-svyazat">Связать</li>
            <li class="top-buttons-razorv">Разорвать</li>
            <li class="top-buttons-hide">Скрыть</li>
            <li class="top-buttons-stop"></li>
            <li class="top-buttons-print">Печать</li>
            <li class="top-buttons-help">Помощь</li>
            <li class="top-buttons-update">Обновить</li>
            <li class="top-buttons-sittings">Настройка</li>
        </ul>
    </nav>
    <div class="container-fluid window">
        <div class="row">
            <div class="col-xs-2 window-left">
                <div class="window-title"><span>ОКНО КАТАЛОГ</span><span class="icon glyphicon glyphicon-pushpin"></span></div>
                <div class="strelka strelka-top">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </div>
                <ul class="accordion-menu" ng-controller="AccordionMenuCtrl">
                    <li class="accordion-menu-li" ng-repeat="item in items" >
                        <div class="accordion-menu-head" ng-click="setOpenIndex($index)">
                            <span class="accordion-menu-title" ng-bind="item.title"></span>
                            <span class="accordion-menu-icon icon-g"  ng-class="{'icon-g-up164': $index == openIndex, 'icon-g-two389': $index != openIndex}"></span>
                        </div>
                        <ul class="accordion-menu-content" ng-show="$index == openIndex">
                            <li class="accordion-menu-content-li" ng-repeat="content in item.content" ui-sref-active="active" ng-bind="content.title" ui-sref="{{content.state}}">
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="strelka strelka-bottom">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </div>
            </div>
            <div class="col-xs-8 window-center" ui-view="">

            </div>
            <div class="col-xs-2 window-right">
                <div class="window-title"><span>ОКНО ДАННЫЕ</span><span class="icon glyphicon glyphicon-pushpin"></span></div>
            </div>
        </div>
    </div>
    <script src="/bower_components/requirejs/require.js" data-main="/js/main.js"></script>
</body>
</html>