<div class="content">
    <div class="content-tabs">
        <div class="content-tabs-ul">
            <div class="content-tabs-li" ng-click="changeTab(0)" ng-class="{'active':!tabShow}">Новые</div>
            <div class="content-tabs-li" ng-click="changeTab(1)" ng-class="{'active':tabShow==1}">Действующие</div>
            <div class="content-tabs-li" ng-click="changeTab(2)" ng-class="{'active':tabShow==2}">Архив</div>
        </div>
    </div>
    <div class="tabs-content" ng-hide="tabShow"></div>
    <div class="tabs-content" ng-show="tabShow==1"></div>
    <div class="tabs-content" ng-show="tabShow==2"></div>
</div>
<div class="nobody-icon"><span class="icon-g icon-g-triangular-up"></span></div>
<div class="dop-block"><span>СВЯЗАННЫЕ ДОКУМЕНТЫ</span> <span class="icon-g icon-g-triangular-down icon-for-block"></span></div>
<div class="nobody-icon"><span class="icon-g icon-g-triangular-up"></span></div>
<div class="dop-block"><span>СПРАВОЧНИК</span> <span class="icon-g icon-g-triangular-down icon-for-block"></span></div>